<body style="width: 100%;background-color: white;margin: 0;">
  <table style="width: 100%;background-color: black;height: 100%;margin: 0 0px;margin-right: 20px;">
  <tr>
    <td> 
      <p style="color: yellow;text-align: left;font-weight: 500px;">You have received a new contact form message from Dave. The contents of the message are:</p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color: yellow;text-align: left;font-weight: 500px;"><%= @message %></p>
    </td>
  </tr>
      
  </table>
</body>