body{
	padding-top: 100px;
}



h1 {
font-family: arial;
color: black;

}

.navbar-brand a {
	color: yellow;
	font-size: 25px;
	text-decoration: none;

}

.navbar  {
	padding-right: 20px;

}

.navbar-header {
	padding-top: 0px;
}



ul {

	text-transform: uppercase;
	top: 0px;
}


.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	padding: 0px 10px 0px;

}


.navbar ul{
	float: right;
	top: 0px;
}

footer {
	background-color: black;
	height: 50px;
}

.copy{
	color: yellow;
}


.row{ 
	border: 10px;
	
}

.carousel-inner{
	height: 500px;
}

img {
	Width: 50%;
	margin: auto;
}

.carousel-caption{
	color: black;
}